*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    font-family: Lato, -apple-system, BlinkMacSystemFont, 'Segoe UI', Ubuntu, sans-serif;
}

.main {
    max-width: 450px;
    margin: 0 auto 50px auto;
    padding: 0 20px;
}

body {
    box-sizing: border-box;
    margin: 0;
    /*min-height: 100vh;
    display: flex;
    flex-direction: column; */
}

.form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.form__input {
    width: 100%;
}

.form__label {
    display: block;
    margin-bottom: 10px;
}

.form__textarea {
    width: inherit;
    font-size: 18px;
    padding: 8px 12px;
    border: none;
    background-color: rgb(235, 235, 235);
    border-radius: 3px;
    margin-bottom: 5px;
}

.form__submit {
    font-size: inherit;
    color: white;
    font-weight: 600;
    border: none;
    border-radius: 20px;
    background-color: #5BB974;
    padding: 5px 30px;
    cursor: pointer;
}

.form__submit:hover {
    background-color: #71d58c;
}

.navbar {
    display: flex;
    flex-direction: row;
    /* width: 640px; */
    max-width: 640px;
    height: 50px;
    margin: 50px auto;
    padding: 0 20px;
    justify-content: space-between; /* Largest space possible between elements */
    font-size: 24px;
}

.navbar__brand {
    display: flex;
    align-items: center;
}

.navbar__brand-link {
    text-decoration: none;
    display: inherit;
    align-items: inherit;
    color: inherit;
}

.navbar__brand-img {
    margin-right: 12px;
    width: 55px;
    height: auto;
}

.navbar__navegation {
    align-items: center;
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    color: #5c6b70;
}

.navbar__navegation-item {
    margin-left: 50px;
}

.navbar__link {
    text-decoration: none;
    color: inherit;
}

.entry {
    margin-top: 30px;
}

.entry__header {
    /*display: flex;
    flex-direction: row;
    align-items: center;*/
    font-size: 18px;
}

.entry__header-title {
    display: inline; /* Inline elements just takes the space that the content needs */
    font-size: inherit;
    font-weight: bold;
}

.entry__header-date {
    color: rgb(143, 143, 143);
}

.entry__content {
    font-size: 16px;
    line-height: 150%;
}

.footer {
    background-color: #006724;
    margin-top: auto;
    color: white;
    font-size: 12px;
    padding: 20px 0;
    border-top: 4px solid black;
}

.footer__content {
    max-width: 640px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.footer__item {
    color: inherit;
    text-decoration: none;
    margin-bottom: 5px;
}

.footer__item:hover {
    text-decoration: underline;
}

.footer .left {
    flex-grow: 2;
    display: flex;
    flex-direction: column;
}

.footer .right {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
}

.footer__column {
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}
